
{{#link-to 'work'}}Work{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}



{{outlet}}
<h1>This is the contact page.</h1>
<p>The artist would love to respond to commision requests or answer any burning questions you may have.</p>

<p>Contact Us</p>

<p>
  Artist Organization<br>
  1212 Test Address Avenue<br>
  TestyMcTestington, OR 97203
</p>

<p>(503) 666-0690</p>

<p>artist@artist.com</p>
